<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <h1><%= title %></h1>
    <table width="400" class="table">
      <tr>
        <th width="40">제목</th>
        <th width="260">내용</th>
        <th width="40">글쓴이</th>
        <th width="40">날짜</th>
        <th width="40">조회수</th>
        <th width="40">댓글수</th>
        <th width="40">좋아요수</th>
        <th width="40">카테고리</th>
        <th width="40">삭제여부</th>
      </tr>
      <tr>
        <td><%= data.todaysCareTitle %></td>
        <td>
          <pre><%= data.todaysCareContent %></pre>
        </td>
        <td><%= data.memberName %></td>
        <td><%= data.todaysCareRegdate %></td>
        <td><%= data.todaysCareHit %></td>
        <td><%= data.todaysCareReplyCnt %></td>
        <td><%= data.todaysCareLikeCnt %></td>
        <td><%= data.todaysCareCategory %></td>
        <td><%= data.todaysCareDeleted %></td>
      </tr>
      <tr>
        <th colspan="9">사진</th>
      </tr>

      <tr>
        <th colspan="9">
          <img src="<%= data.todaysCarePicture1 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture2 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture3 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture4 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture5 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture6 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture7 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture8 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture9 %>" height="100px" width="100px"/>
          <img src="<%= data.todaysCarePicture10 %>" height="100px" width="100px"/>
        </th>
      </tr>
      <tr>
        <th>댓글</th>
        <th> 글쓴이</th>
        <th> 내용</th>
        <th> 날짜</th>
        <th> 삭제여부</th>
      </tr>
      <% for(var i = 0; i < data.comment.length, item = data.comment[i]; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= item.memberId %> </td>
        <td><%= item.todayReplyContent %></td>
        <td><%= item.todayReplyRegdate %></td>
        <td colspan="5"><%= (item.todayReplyIsDeleted == 0) ? "게시됨" : "삭제됨" %></td>
      </tr>
      <% } %>
      <tr>
        <td colspan="9">
            <span id="span1">
                <form action="/admin/todaysDelete" method="post" name="frm1" id="frm1"
                      class="form-inline">
                  <input type="button" onclick="location.href='/admin/'" value='메인메뉴' class="btn btn-default">
                  <input type="button" onclick="location.href='/admin/todays/<%= page %>'" value='전체목록' class="btn btn-info">
                  <input type="button" value="수정" id="modify" class="btn btn-primary"/>
                  <input type="hidden" name="page" value="<%= page %>"/>
                  <input type="hidden" name="todaysCareNum" value="<%= data.todaysCareNum %>"/>
                  <input type="button" value="삭제" id="delete" class="btn btn-warning"/>
                </form>
            </span>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
<script src="/javascripts/jquery-1.11.2.js"></script>
<script>
  $(function () {
    <%if(!memberId && memberId!='admin'){%>
    alert('로그인을 안하거나 관리자가 아니네요');
    history.back();

    <%} %>

  })

  $(function () {
    $("#modify").click(function () {
      location.href = "/admin/todaysModify/<%=page%>/<%=data.todaysCareNum%>"
    });
    $("#delete").click(function () {
      if (confirm("정말 삭제하시겠습니까??") == true) {
        document.frm1.submit();
      } else {
        return;
      }
    });
  });

</script>

</html>
