<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <h1><%= title %></h1>
    <a href="/admin/product/<%= page %>">리스트</a><br>

    <form action="/admin/productModify" method="post" enctype="multipart/form-data">
      <table width="400" class="table">
        <tr>
          <th width="100">브랜드</th>
          <th width="100">카테고리1</th>
          <th width="100">카테고리2</th>
          <th width="200">제품 이름</th>
          <th width="130">연령대</th>
        </tr>
        <tr>
          <th width="140"><input type="text" name="productBrand" id="productBrand"
                                 class="form-control" value="<%= data.productBrand %>"/></th>
          <th width="100"><input type="text" name="productCategory1" id="productCategory1"
                                 class="form-control" value="<%= data.productCategory1 %>"/></th>
          <th width="100"><input type="text" name="productCategory2" id="productCategory2"
                                 class="form-control" value="<%= data.productCategory2 %>"/></th>
          <th width="300"><input type="text" name="productName" id="productName"
                                 class="form-control" value="<%= data.productName %>"/></th>
          <th width="100">
            <input type="text" name="productAge" id="productAge"
                   class="form-control"
                   value="<%= data.productStartAge %>~<%= data.productEndAge %>"/></th>
        </tr>
        <tr>
          <td colspan="5">
            <input type="hidden" name="productNum" value="<%= data.productNum %>"/>
            <input type="hidden" name="page" value="<%= page %>"/>
            <input type="submit" value="수정" class="btn btn-primary"/>
            <input type="reset" value="취소" class="btn btn-warning"/>
            <input type="button" value="삭제" class="btn btn-danger" id="delbtn"/>
          </td>
        </tr>
      </table>
    </form>
    <form action="/admin/productDelete" id="del" method="post">
      <input type="hidden" name="productNum" value="<%= data.productNum %>"/>
      <input type="hidden" name="page" value="<%= page %>"/>
    </form>
  </div>
</div>


</body>
<script src="/javascripts/jquery-1.11.2.js"></script>
<script>
  $(function () {
    <%if(!memberId && memberId!='admin'){%>
    alert('로그인을 안하거나 관리자가 아니네요');
    history.back();

    <%}%>
    $("#delbtn").click(function(){
      if(confirm("정말로 삭제할건가요?")==true){
        $("#del").submit();

      } else {
        return;
      }

    })


  })

</script>
</html>
