<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <h1><%= title %></h1>

    <table width="400" class="table">
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>레벨</th>
        <th>경험치</th>
        <th>조회수 Total</th>
        <th>찜수</th>
        <th>댓글수</th>
        <th>좋아요수</th>
        <th>게시글수</th>
      </tr>
      <tr>
        <td><%= data.memberId %></td>
        <td><%= data.memberName %></td>
        <td><%= data.memberLevel %></td>
        <td><%= data.memberExp %></td>
        <td><%= data.memberHitCnt %></td>
        <td><%= data.memberZzimCnt %></td>
        <td><%= data.totalReplies %></td>
        <td><%= data.memberLikeCnt %></td>
        <td><%= data.memberReviewCnt %></td>
      </tr>

      <tr>
        <td colspan="9">
        <span id="span1">
          <% if(data.memberWithdraw == 'B'){ %>
          <form action="/admin/releaseblack" method="post">
            <input type="hidden" name="memberId" value=<%= data.memberId %>>
            <input type="submit" value="블랙리스트 해제" class="btn btn-primary">
            <input type="button" value="Back" onclick="window.history.back();location.reload(); "
                   class="btn btn-warning"/>
          </form>
          <% }else if(data.memberWithdraw == 'Y'){ %>
          탈퇴 회원
          <% }else{ %>
          <form action="/admin/regblack" method="post">
            <input type="hidden" name="memberId" value=<%= data.memberId %>>
            <input type="submit" value="블랙리스트 등록" class="btn btn-primary">
            <input type="button" value="Back" onclick="window.history.back();location.reload();"
                   class="btn btn-warning"/>
          </form>
          <% } %>
        </span>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
<script src="/javascripts/jquery-1.11.2.js"></script>
<script>
  $(function () {
    <%if(!memberId && memberId!='admin'){%>
    alert('로그인을 안하거나 관리자가 아니네요');
    history.back();
    <%} %>
  })
</script>

</html>
